development:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  host: localhost
  database: trivia_dev
  pool: 5

test:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  host: localhost
  database: trivia_test
  pool: 5

production:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  host: localhost
  database: trivia_prod
  pool: 5
